node_modules
*.log
.nuxt
dist
nuxt.d.ts
.output
.env

# Our additions.
docker-compose.override.yaml
docker-compose.override.yml
debug.log
.idea
.idea/sonarlint/issuestore/index.pb
static/sw.js

# OSx files
.DS_Store

# app secrets
android/app/google-services.json
ios/App/App/GoogleService-Info.plist