$colour-success: #338808;
$colour-success-hover: #51a91e;
$colour-success-bg: #d6e9c6;
$colour-success-fg: #3c763d;
$colour-success-border: #c3e6cb;
$colour-info-fg: #000080;
$colour-info-bg: #d9edf7;
$colour-warning: #e38d13;
$colour-header: #1d6607;
$colour-secondary: #00A1CB;

$color-green-background: #61AE24;
$color-green--light-alt: #00FF00;
$color-green--lighter: #CDE4DA;
$color-green--light: #E6ffE6;
$color-green--medium: #84CF96;
$color-green--dark: #3B8070;
$color-green--darker: #008000;
$color-green--mid: #3c763d;
$color-green--button-border: #61A624;
$color-green--bg-gradient: #f0f7ed;

// Background gradients for pages
$color-red--bg-gradient: #fff5f5;

$color-gray--normal: #6C757D;
$color-gray--faded: #6C757D70; // Including alpha
$color-gray--lighter: #F5F5F5;
$color-gray--light: #CDCDCD;
$color-gray--base: #A9A9A9;
$color-gray--dark: #808080;
$color-gray--darker: #212529;
$color-gray-1: rgba(221,142,98,0.05);
$color-gray-2: rgba(62,108,178,0.02);
$color-gray-3: #E9ECEF;
$color-gray-4: #CED4DA;

$color-blue--x-light: #D1ECF1;
$color-blue-x-light2: #BEE5EB;
$color-blue--lighter: #2F9AF7;
$color-blue--light: #4895DD;
$color-blue--base: #0000FF;
$color-blue--1: #0C5460;
$color-blue--2: #204D74;
$color-blue--bright: #007BFF;

$color-yellow--light: #F9F7EC;
$color-yellow--base: #F3F0DA;
$color-yellow--dark: #FBE8AA;
$color-yellow-1: #FFF6DB; // Only used for notice warning message
$color-yellow-2: #FFEEBA; // Only used for notice warning message
$color-yellow-3: #674E04; // Only used for notice warning message

$color-orange--dark: #FF8C00;

$color-red--lighter: #F8D7DA; // Only used for notice warning message
$color-red--light: #F5C6CB; // Only used for notice warning message
$color-red: #FF0000;
$color-red--dark: #721C24; // Only used for notice warning message

$color-white: #FFF;
$color-black: #000;

// White opacity variants
$color-white-opacity-15: rgba(255, 255, 255, 0.15);
$color-white-opacity-20: rgba(255, 255, 255, 0.2);
$color-white-opacity-25: rgba(255, 255, 255, 0.25);
$color-white-opacity-30: rgba(255, 255, 255, 0.3);
$color-white-opacity-40: rgba(255, 255, 255, 0.4);
$color-white-opacity-50: rgba(255, 255, 255, 0.5);
$color-white-opacity-75: rgba(255, 255, 255, 0.75);
$color-white-opacity-80: rgba(255, 255, 255, 0.8);
$color-white-opacity-85: rgba(255, 255, 255, 0.85);
$color-white-opacity-90: rgba(255, 255, 255, 0.9);
$color-white-opacity-95: rgba(255, 255, 255, 0.95);

// Black opacity variants (for shadows and overlays)
$color-black-opacity-02: rgba(0, 0, 0, 0.02);
$color-black-opacity-03: rgba(0, 0, 0, 0.03);
$color-black-opacity-04: rgba(0, 0, 0, 0.04);
$color-black-opacity-05: rgba(0, 0, 0, 0.05);
$color-black-opacity-06: rgba(0, 0, 0, 0.06);
$color-black-opacity-08: rgba(0, 0, 0, 0.08);
$color-black-opacity-10: rgba(0, 0, 0, 0.1);
$color-black-opacity-12: rgba(0, 0, 0, 0.12);
$color-black-opacity-15: rgba(0, 0, 0, 0.15);
$color-black-opacity-20: rgba(0, 0, 0, 0.2);
$color-black-opacity-25: rgba(0, 0, 0, 0.25);
$color-black-opacity-30: rgba(0, 0, 0, 0.3);
$color-black-opacity-33: rgba(0, 0, 0, 0.33);
$color-black-opacity-50: rgba(0, 0, 0, 0.5);
$color-black-opacity-60: rgba(0, 0, 0, 0.6);
$color-black-opacity-70: rgba(0, 0, 0, 0.7);
$color-black-opacity-85: rgba(0, 0, 0, 0.85);

// Gray opacity variant
$color-gray-opacity-60: rgba(128, 128, 128, 0.6);
$color-gray-opacity-70: rgba(128, 128, 128, 0.7);

$color-purple: purple;
$color-gold: darkgoldenrod;

// Social networks
$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-pinterest: #cb2027;
$color-whatsapp: #43d854;
$color-gmail: #ea4335;
$color-skype: #00aff0;
$color-telegram: #00405d;

// ModTools colours
$color-modtools-blue--dark: #1d6607; /* 396aa3 208574 */
$color-modtools-navbar-background: #396aa3;
$color-modtools-green--light: #dff2d1;
$color-modtools-menu: #3C73B3;
$color-modtools-leftmenu-bg: #e8fefb;

// TODO
/* margin-left: 0.3em; */
$badge-padding-x: 0.4em;
$badge-padding-y: 0.25em;
$badge-font-size: 75%;
