// Import all variables from parent - ensures we stay in sync
@import '../../../assets/css/_color-vars.scss';

// ModTools-specific colour overrides and additions
$color-modtools-blue--dark: #1d6607; /* 396aa3 208574 */
$color-modtools-navbar-background: #396aa3;
$color-modtools-green--light: #dff2d1;
$color-modtools-menu: #3C73B3;
$color-modtools-leftmenu-bg: #e8fefb;

// TODO
/* margin-left: 0.3em; */
$badge-padding-x: 0.4em;
$badge-padding-y: 0.25em;
$badge-font-size: 75%;
