@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/_breakpoints';

$thumbnail-size: 150px;
$thumbnail-size-md: 200px;

$notthumbnail-size: 320px;
$notthumbnail-size-md: 200px;