$sticky-banner-height-mobile: 73px;
$mobile-tall: 600px;
$sticky-banner-height-mobile-tall: 123px;

$sticky-banner-height-desktop: 113px;
$desktop-tall: 950px;
$sticky-banner-height-desktop-tall: 273px;

$ads-cta: 23px;
