version: 2.1

parameters:
  run_manual_promote:
    type: boolean
    default: false
    description: "Set to true to manually trigger promotion/submission workflow"

orbs:
  freegle: freegle/tests@1

workflows:
  version: 2

  build-debug-apps:
    jobs:
      - freegle/build-android-debug:
          filters:
            branches:
              only:
                - master

  pr-tests:
    jobs:
      - freegle/playwright-tests:
          filters:
            branches:
              ignore:
                - master
                - main
                - production
                - modtools

  deploy-apps:
    jobs:
      - freegle/increment-version:
          filters:
            branches:
              only:
                - production

      - freegle/build-android:
          requires:
            - freegle/increment-version
          filters:
            branches:
              only:
                - production

      - freegle/build-ios:
          requires:
            - freegle/increment-version
          filters:
            branches:
              only:
                - production

  auto-promote-schedule:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - production
    jobs:
      - freegle/auto-promote-production
      - freegle/auto-submit-ios
      - freegle/auto-release-ios

  manual-promote-submit:
    when: << pipeline.parameters.run_manual_promote >>
    jobs:
      - freegle/auto-promote-production:
          filters:
            branches:
              only:
                - production
      - freegle/auto-submit-ios:
          filters:
            branches:
              only:
                - production
      - freegle/auto-release-ios:
          filters:
            branches:
              only:
                - production
