@import 'assets/css/sticky-banner.scss';

#serverloader {
  z-index: 1000;
  display: flex !important;
  text-align: center;
  position: fixed; /* or absolute */
  top: calc(50% - 44px);
  font-size: 12px;
  padding: 5px;
  border: 1px black;
  border-radius: 5px;
  animation: 15s fadeIn;
  visibility: visible !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@import 'assets/css/_color-vars.scss';

@import 'bootstrap-custom';
@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
@import 'bootstrap/scss/mixins/_breakpoints.scss';
@import 'typography';
@import 'buttons';

html {
  scroll-behavior: smooth;

  // Prevent layout thrashing from scrollbar appearing/disappearing at breakpoint boundaries.
  // Only on desktop - mobile uses overlay scrollbars that don't affect layout.
  @include media-breakpoint-up(md) {
    scrollbar-gutter: stable;
  }
}

.strike {
  text-decoration: line-through;
  text-decoration-style: double;
  font-weight: normal;
}

.bg-success {
  background-color: $colour-success-bg !important;
  color: $colour-success-fg !important;
}

.card-header.bg-success {
  border-bottom: 1px solid $colour-success-bg;
}

.bg-info {
  background-color: $colour-info-bg !important;
  color: $colour-info-fg !important;
}

.badge.bg-info {
  background-color: $colour-secondary !important;
  color: white !important;
}

.badge.bg-success {
  background-color: $color-green-background!important;
  color: white !important;
}

.border-info {
  border-color: $colour-info-bg !important;
}

.card-header.bg-info {
  border-bottom: 1px solid $colour-info-bg;
}

div[variant="success"] .card-header {
  color: $colour-success-fg;
  background-color: $color-green--light;
  border-color: $colour-success-bg;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

// We have to go to some effort to style the resize grip.  We can't have it in a scoped style otherwise it won't
// apply to the grip, and the image is small enough that it gets inlined into base64, so we can't use an
// image file - instead we encode it here.
.handle {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAB3RJTUUH4AQLDigeVd0uIAAAAHpJREFUOMvVkDEKgDAMRQuOLoIHcHTUybmb4BW8gPQM4tWfg6mUIJRmUf+W8P9/JM59RkAHBACZK2Dh0ii7GtiiRxcEMQ8yx/ABtBJeZeefCgB6Rd41GZhzp9xhoMmSk+BLZPWDcnJSMJnIqqScrMI2shTYyOqJ3v1OJ4UMEzPeJauEAAAAAElFTkSuQmCC');
  height: 16px;
  width: 16px;
  position: absolute;
  z-index: 1000;
  cursor: pointer;
}

.handle-tl {
  top: 0;
  left: 0;
}

.handle-tr {
  top: 0;
  right: 0;
  rotate: 90deg;
}

.handle-bl {
  bottom: 0;
  left: 0;
  rotate: 270deg;
}

.handle-br {
  bottom: 0;
  right: 0;
  rotate: 180deg;
}

.clickme {
  cursor: pointer;
}

.card-header-tabs li a {
  border: 1px lightgrey solid !important;
}

.nodecor {
  text-decoration: none !important;
}

.prewrap {
  white-space: pre-wrap !important;
}

.preline {
  white-space: pre-line !important;
}

.decornone {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fadein-enter-active {
    transition: opacity 1s;
}
.fadein-enter {
    opacity: 0;
}

.forcebreak {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.black {
  color: $color-black;
}

.white, .white > a {
  color: $color-white !important;
}

.fa-icon {
  /* These appear misaligned - fix */
  margin-bottom: 3px;

  /* This is to resolve an issue with icon alignment. */
  /* It reverts a change made in 4.1.0 of vue-awesome */
  vertical-align: middle !important;
}

.fa-fw {
  width: 1rem !important;
  height: 1rem !important;
}

.text-faded {
  color: $color-gray--faded !important;
}

.nopara p {
  margin-bottom: 0;
  display: inline;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

legend {
  font-weight: bold !important;
}

.mx-datepicker-popup {
  z-index: 2000 !important;
}

/* Overrides default Bootstrap tooltip opacity (0.9) */
.v-popper__inner {
  opacity: 1;
}

/* Ensure any autocompletes are visible on top of google maps. */
.pac-container {
  z-index: 10000;
}

.sidebar__wrapper {
  height: calc(100vh - var(--header-navbar-height) - $sticky-banner-height-desktop - $ads-cta);

  @supports (height: 100dvh) {
    height: calc(100dvh - var(--header-navbar-height) - $sticky-banner-height-desktop - $ads-cta);
  }

  @media (min-height: $desktop-tall) {
    height: calc(100vh - var(--header-navbar-height) - $sticky-banner-height-desktop-tall - $ads-cta);

    @supports (height: 100dvh) {
      height: calc(100dvh - var(--header-navbar-height) - $sticky-banner-height-desktop-tall - $ads-cta);
    }
  }

  overflow-y: scroll;

  .card-body .card {
    border-radius: unset;
  }
}

.pulsate {
  opacity: 0.5;
  animation: pulsate 1.5s infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.25;
  }
}

form {
  label,
  .col-form-label {
    font-weight: bold;
    color: $color-black;
    margin-top: 10px;
  }

  .is-invalid label,
  .is-invalid .col-form-label {
    color: $color-red;
  }

  .form-group.is-invalid .invalid-feedback {
    display: block;
  }
}

.form-control-xl {
  height: calc(2em + 0.60rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  line-height: 2;
  border-radius: 0.3rem;
}

// Move the attribution slightly to make way for resizers if present
.leaflet-container .leaflet-control-attribution {
  right: 20px;
}

// Animate marker moves (as used on landing page).
.leaflet-marker-pane > * {
  transition: transform 2s ease;
}

// Bootstrap tooltips appear above modals on mobile even after a modal is shown from a click.  This is confusing.
// Most tooltips aren't inside modals so move them down.
.tooltip {
  z-index: 1030;

  .tooltip-inner {
    max-width: 250px;
    min-width: 150px;
  }
}

.modal.hide-footer {
  .modal-footer {
    // For some reason hide-footer prop isn't working.
    display: none;
  }
}

.modal-content {
  // Need to make this scrollable so that e.g. login modal can all be accessed on screens with small height.
  overflow-y: auto !important;

  max-height: calc(100% - $sticky-banner-height-mobile) !important;

  @media (min-height: $mobile-tall) {
    max-height: calc(100% - $sticky-banner-height-mobile-tall) !important;
  }

  @include media-breakpoint-up(md) {
    max-height: calc(100% - $sticky-banner-height-desktop) !important;

    @media (min-height: $desktop-tall) {
      max-height: calc(100% - $sticky-banner-height-desktop-tall) !important;
    }
  }
}

label {
  font-weight: bold !important;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

// Don't underlink link buttons:
.btn-link:not(:hover) {
  text-decoration: none;
}

.btn-xl {
  padding: 10px 20px;
  font-size: 20px;
}

// Bootstrap 4 class compatibility.
.ml-1 {
  @extend .ms-1
}

.ml-2 {
  @extend .ms-2
}

.ml-3 {
  @extend .ms-3
}

.ml-4 {
  @extend .ms-4
}

.ml-5 {
  @extend .ms-5
}

.mr-1 {
  @extend .me-1
}

.mr-2 {
  @extend .me-2
}

.mr-3 {
  @extend .me-3
}

.mr-4 {
  @extend .me-4
}

.mr-5 {
  @extend .me-5
}

.pl-1 {
  @extend .ps-1
}

.pl-2 {
  @extend .ps-2
}

.pl-3 {
  @extend .ps-3
}

.pl-4 {
  @extend .ps-4
}

.pl-5 {
  @extend .ps-5
}

.pr-1 {
  @extend .pe-1
}

.pr-2 {
  @extend .pe-2
}

.pr-3 {
  @extend .pe-3
}

.pr-4 {
  @extend .pe-4
}

.pr-5 {
  @extend .pe-5
}

.ml-auto {
  @extend .ms-auto
}

.mr-auto {
  @extend .me-auto
}

.font-weight-bold {
  @extend .fw-bold
}

.font-weight-normal {
  @extend .fw-normal
}

// Unusual icon sizes.
.fa-8-75x {
  font-size: 8.75em;
}

.fa-0-8x {
  font-size: 0.8em;
}

.fa-1-5x {
  font-size: 1.5rem;
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.fa-1-75x {
  font-size: 1.75em;
}

.popover.primary {
  background: $color-green-background !important;

  .popover-body {
    color: white !important;
  }

  .popover-arrow {
    &::before, &::after {
      border-top-color: $color-green-background !important;
    }
  }
}

:root {
  .toggle-sm {
    --toggle-height: 1rem;
  }

  .toggle-md {
    --toggle-height: 2rem;
    --toggle-font-size: 16px;
  }

  .toggle-lg {
    --toggle-height: 3rem;
    --toggle-font-size: 20px;
  }
}

.fit-cover {
  object-fit: cover
}

.neartop {
  z-index: 5000;
}

.verytop {
  z-index: 10000;
}

/*
 * confirm-modal needs to appear above all other z-index values in the site.
 * Current highest values:
 *   - JustGiving checkout: 100000
 *   - PostMapAndList: 20000
 *   - Various modals: 10000
 * Using 200000 to ensure confirm modals are always on top.
 * The backdrop needs to be just below (199999) so it covers other elements too.
 */
.confirm-modal {
  z-index: 200000 !important;
}

.confirm-modal + .modal-backdrop,
.confirm-modal ~ .modal-backdrop {
  z-index: 199999 !important;
}

.error__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }

  .error__image {
    background-image: url('/error-page-image.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 100%;

    @include media-breakpoint-up(md) {
      width: 25%;
    }
  }

  .error {
    max-width: 600px;
    text-align: center;
  }

  .error__heading--main {
    font-size: 2.5rem;
  }

  .error__heading--sub {
    font-size: 1.8rem;
  }
}

.ourBack {
  background-color: $color-green-background !important;
}

.ourBackLight {
  background-color: $colour-success-bg !important;
}

.v-popper--theme-mentionable {
  .v-popper__inner {
    border-radius: 0px !important;
  }

  .mention-item {
    padding-left: 10px;
    padding-right: 10px;
    background: $color-white;
    color: $color-black;
  }

  .mention-selected {
    font-weight: bold;
  }
}

.hideshort {
  @media (max-height: 800px) {
    display: none;
  }
}

:root {
  --popper-theme-background-color: white;
  --popper-theme-background-color-hover: white;
  --popper-theme-text-color: $color-black;
  --popper-theme-border-width: 0px;
  --popper-theme-border-style: solid;
  --popper-theme-border-radius: 6px;
  --popper-theme-padding: 10px;
  --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
  --header-navbar-height: 76px;
}