@import 'assets/css/_color-vars.scss';
@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.my-config {
  --darkmode: 0;
  --h-accent: 98;
  --s-accent: 70%;
  --l-accent: 46%;
  --h-background: 0;
  --s-background: 0%;
  --l-background: 100%;
  --border-radius-element: 0;
  --border-radius-frame: 0;
  --border-radius-thumb: 0;
  --clr-confirm: #61c924;
  --icon-edit-file: 'm17.002 0.905 -2.269 2.269 6.094 6.094 2.269 -2.269c1.172 -1.172 1.172 -3.07 0 -4.242l-1.847 -1.852c-1.172 -1.172 -3.07 -1.172 -4.242 0zm-3.328 3.328L2.747 15.164c-0.488 0.488 -0.844 1.092 -1.041 1.753L0.047 22.556c-0.117 0.398 -0.009 0.825 0.281 1.116s0.717 0.398 1.111 0.286L7.078 22.298c0.661 -0.197 1.266 -0.553 1.753 -1.041l10.936 -10.931z';
  --icon-remove-file: 'M6.337 0.83C6.591 0.319 7.111 0 7.678 0h5.644c0.567 0 1.087 0.319 1.341 0.83L15 1.5h4.5c0.83 0 1.5 0.67 1.5 1.5s-0.67 1.5 -1.5 1.5H1.5C0.67 4.5 0 3.83 0 3s0.67 -1.5 1.5 -1.5h4.5zM1.5 6h18v15c0 1.655 -1.345 3 -3 3H4.5c-1.655 0 -3 -1.345 -3 -3zm4.5 3c-0.413 0 -0.75 0.338 -0.75 0.75v10.5c0 0.413 0.338 0.75 0.75 0.75s0.75 -0.338 0.75 -0.75V9.75c0 -0.413 -0.338 -0.75 -0.75 -0.75m4.5 0c-0.413 0 -0.75 0.338 -0.75 0.75v10.5c0 0.413 0.338 0.75 0.75 0.75s0.75 -0.338 0.75 -0.75V9.75c0 -0.413 -0.338 -0.75 -0.75 -0.75m4.5 0c-0.413 0 -0.75 0.338 -0.75 0.75v10.5c0 0.413 0.338 0.75 0.75 0.75s0.75 -0.338 0.75 -0.75V9.75c0 -0.413 -0.338 -0.75 -0.75 -0.75';
  --icon-default: 'm11 3c-.9428 0-1.4141313.0000788-1.7070312.2929688-.2714001.2714099-.2915088.6968024-.2929688 1.5078124-3.45256.0000701-5.18871.0076507-6.34375.9941407-.16547.14133-.3196175.2954675-.4609375.4609375-.99524 1.16527-.9960937 2.9216069-.9960937 6.4355466 0 3.5139.0008537 5.2722.9960937 6.4375.14132.1654.2954675.319538.4609375.460938 1.16527.9952 2.9216169.99414 6.4355469.99414h5.8164061c3.5139 0 5.270247.00106 6.435547-.99414.1654-.1414.319637-.295538.460938-.460938.9952-1.1653.996093-2.9236.996093-6.4375 0-3.5139397-.000893-5.2702766-.996093-6.4355466-.1413-.16547-.295538-.3196075-.460938-.4609375-1.1551-.98649-2.89125-.9940706-6.34375-.9941407-.0015-.8110099-.021569-1.2364025-.292969-1.5078124-.2929-.29289-.764231-.2929688-1.707031-.2929688zm1 5.1230469c2.5235 0 4.568359 2.0448591 4.568359 4.5683591s-2.044859 4.570313-4.568359 4.570313-4.5683594-2.046813-4.5683594-4.570313 2.0448594-4.5683591 4.5683594-4.5683591zm6.646484 0c.4588 0 .830078.3712581.830078.8300781 0 .45883-.371278.8320312-.830078.8320312-.4589 0-.832031-.3732012-.832031-.8320312 0-.45882.373131-.8300781.832031-.8300781z';
}

.my-config2 {
  --darkmode: 0;
  --h-accent: 98;
  --s-accent: 70%;
  --l-accent: 46%;
  --border-radius-element: 0;
  --border-radius-frame: 0;
  --border-radius-thumb: 0;
  --clr-confirm: #61c924;
  --ui-size: 50px;
  --icon-edit-file: 'm17.002 0.905 -2.269 2.269 6.094 6.094 2.269 -2.269c1.172 -1.172 1.172 -3.07 0 -4.242l-1.847 -1.852c-1.172 -1.172 -3.07 -1.172 -4.242 0zm-3.328 3.328L2.747 15.164c-0.488 0.488 -0.844 1.092 -1.041 1.753L0.047 22.556c-0.117 0.398 -0.009 0.825 0.281 1.116s0.717 0.398 1.111 0.286L7.078 22.298c0.661 -0.197 1.266 -0.553 1.753 -1.041l10.936 -10.931z';
  --icon-remove-file: 'M6.337 0.83C6.591 0.319 7.111 0 7.678 0h5.644c0.567 0 1.087 0.319 1.341 0.83L15 1.5h4.5c0.83 0 1.5 0.67 1.5 1.5s-0.67 1.5 -1.5 1.5H1.5C0.67 4.5 0 3.83 0 3s0.67 -1.5 1.5 -1.5h4.5zM1.5 6h18v15c0 1.655 -1.345 3 -3 3H4.5c-1.655 0 -3 -1.345 -3 -3zm4.5 3c-0.413 0 -0.75 0.338 -0.75 0.75v10.5c0 0.413 0.338 0.75 0.75 0.75s0.75 -0.338 0.75 -0.75V9.75c0 -0.413 -0.338 -0.75 -0.75 -0.75m4.5 0c-0.413 0 -0.75 0.338 -0.75 0.75v10.5c0 0.413 0.338 0.75 0.75 0.75s0.75 -0.338 0.75 -0.75V9.75c0 -0.413 -0.338 -0.75 -0.75 -0.75m4.5 0c-0.413 0 -0.75 0.338 -0.75 0.75v10.5c0 0.413 0.338 0.75 0.75 0.75s0.75 -0.338 0.75 -0.75V9.75c0 -0.413 -0.338 -0.75 -0.75 -0.75';
  --icon-default: 'm11 3c-.9428 0-1.4141313.0000788-1.7070312.2929688-.2714001.2714099-.2915088.6968024-.2929688 1.5078124-3.45256.0000701-5.18871.0076507-6.34375.9941407-.16547.14133-.3196175.2954675-.4609375.4609375-.99524 1.16527-.9960937 2.9216069-.9960937 6.4355466 0 3.5139.0008537 5.2722.9960937 6.4375.14132.1654.2954675.319538.4609375.460938 1.16527.9952 2.9216169.99414 6.4355469.99414h5.8164061c3.5139 0 5.270247.00106 6.435547-.99414.1654-.1414.319637-.295538.460938-.460938.9952-1.1653.996093-2.9236.996093-6.4375 0-3.5139397-.000893-5.2702766-.996093-6.4355466-.1413-.16547-.295538-.3196075-.460938-.4609375-1.1551-.98649-2.89125-.9940706-6.34375-.9941407-.0015-.8110099-.021569-1.2364025-.292969-1.5078124-.2929-.29289-.764231-.2929688-1.707031-.2929688zm1 5.1230469c2.5235 0 4.568359 2.0448591 4.568359 4.5683591s-2.044859 4.570313-4.568359 4.570313-4.5683594-2.046813-4.5683594-4.570313 2.0448594-4.5683591 4.5683594-4.5683591zm6.646484 0c.4588 0 .830078.3712581.830078.8300781 0 .45883-.371278.8320312-.830078.8320312-.4589 0-.832031-.3732012-.832031-.8320312 0-.45882.373131-.8300781.832031-.8300781z';
}

lr-simple-btn button {
  background-color: $colour-success;
  color: white;
  /*font-size: v-bind('fontSize');*/
}

lr-progress-bar {
  top: 0px !important;
  height: 100% !important;
}

lr-file-uploader-inline {
  min-width: 230px;
}

lr-drop-area[with-icon] {
  min-height: 100px !important;
}

lr-activity-header {
  display: none;
}

lr-upload-list {
  .done-btn, .upload-btn {
    display: none;
  }

  .toolbar-spacer {
    display: none;
  }

  .toolbar {
    justify-content: space-between;
    padding-right: 0px;

    width: 105px;

    @include media-breakpoint-up(md) {
      width: 210px;
    }
  }

  .files {
    display: flex;
    flex-wrap: wrap;
  }
}

lr-file-item .thumb {
  width: 100px;
  height: 100px;

  @include media-breakpoint-up(md) {
    width: 200px;
    height: 200px;
  }
}

lr-drop-area[with-icon] {
  width: 100px;
  height: 100px;

  @include media-breakpoint-up(md) {
    width: 200px;
    height: 200px;
  }

  &:hover {
    color: $colour-success;

    lr-drop-area[with-icon]:hover .icon-container {
      color: $colour-success;
    }

    .icon-container {
      background-color: $colour-success !important;
      color: $color-white !important;
    }
  }

  .icon-container {
    background-color: $colour-success;

    lr-icon[name="default"] {
      svg {
        width: 32px;
        height: 320px;
        color: $color-white;
      }
    }
  }
}

lr-file-item {
  >.inner {
    padding-left: 0px;
    padding-right: 10px;
    grid-template-columns: 1fr;
    background-color: transparent;
  }

  .file-name-wrapper, .file-actions {
    display: none;
  }

  .badge lr-icon, .badge lr-icon svg {
    width: unset;
    height: unset;
  }
}

lr-source-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  lr-source-btn {
    padding-left: 0px;

    lr-icon {
      margin-right: 0px;
    }
  }
}

lr-start-from {
  .content {
    gap: unset;
  }
}